@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
*{
  font-family: 'Andika', sans-serif;
  margin: 0;
  padding: 0;
}
.sticky-top{
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  min-width: 100%;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    margin: 5px;
    color:rgb(15, 15, 53);
}
.menu{
  display: flex;
}
.menuphone{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: #EB7C7C;
  width: 100%;
  animation: mobilenav 1s alternate;
}
.hamburger{
  display: none;
  margin-right: 10px;
  height: 40px;
}
.hamburger:hover{
  cursor: pointer;
}
.navlist{
  display: flex;
  list-style: none;
  align-items: center;
  margin: 30px;
}

.navlink:hover{
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
  .toggle{
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
  }
  .toggle + label{
    position: relative;
   display: flex;
   align-items: center;
   cursor: pointer;
   font-size: 21px;
  margin-right: 15px;
}
  .toggle:checked + label{
    cursor: pointer;

  }
  .toggle + label::before{
    content: '';
    height: 25px;
    width:47px;
    border-radius: 15px;
    background-color: #BD817F;
    margin-right: 5px;
  }
  .toggle + label::after{
    content: '';
    height: 22px;
    width:22px;
    position:absolute;
    left: 2px;
    border-radius: 50%;
    background-color: white;
  }
  .toggle:checked + label::after{
    left: 22.5px;
    background-color: rgb(15, 11, 96);
  }
  .toggle:checked + label::before{
    background-color: #009BDF;
  }
  .nav-light{
    background-color: #EB7C7C;
    color:black;
  }
  .nav-dark{
    background-color: black;
    color:white;
  }
  .navlink{
    text-decoration: none;
    padding: 10px;
    font-size: 21px;
  }
  
  .light{
    color:black;
  }
  .dark{
    color:white;
  }
  .hamburger-light{
    fill: #000;

  }
  .hamburger-dark{
    background:#fff;

  }
  .container{
    margin: 120px 191px;
  }
  .headlines{
    font-size: 30px;
  }
  .textarea{
    margin-top: 33px;
    height:300px;
    width:100%;
    font-size: 20px;
    padding-left: 10px;
  }
  .buttonsdiv{
    display: flex;
    justify-content: flex-start;
  }
  .btn{
    margin: 10px;
    height: 50px;
    width:170px;
    border-radius: 10px;
    font-size: 15px;
  }
  .btn:hover{
    cursor: pointer;
    border: 2px solid black;
  }
  #about-img{
    height:300px;
    width: 300px;
  }
  .about{
    margin: 50px 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 70px;
  }
  .contactus{
    grid-column-start: 1;
    grid-column-end: 3;
    
  }
  .image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .email{
    display:flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
  }
  .submit{
    height:50px;
    width: 100px;
  }

  #previewtext{
    height: 300px;
    width: auto;
    border: 1px solid lightgray;
  }
  #previewtext:active{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
  }
  .footer-light{
    background-color: #EB7C7C;
    color:black;

  }
  .footer-dark{
    background-color: #000;
    color: white;
  }
  .btn-light{
    background-color: #BD817F;
    border: 2px solid #BD817F;
  }
  .btn-dark{
    background-color: #009BDF;
    border: 2px solid #009BDF;
  }
  .hidden{
    display: none;
  }
  .translate{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 18px;
    flex-direction: column;
    margin:20px 70px;
  }
  .dropdown{
    margin-top: 15px;
    margin-bottom: 15px;
  }
 
  /*mobile phones*/
  @media screen and (max-width:450px) and (min-width:250px){

    .container{
      margin: 70px 20px 0px 20px;
    } 
    .buttonsdiv{
      display: grid;
      justify-content: center;
      grid-template-rows: repeat(2,1fr);
      grid-template-columns: repeat(2,1fr);
    }
    .hamburger{
      display:block;
      height: 20px;
    }
    .menu{
      display: none;
    }
    .menuphone{
      display: flex;
      top:57px;
    }
    .navlist{
      flex-direction: column;
      margin:10px;
    } 
    .headlines{
      font-size: 16px;
    }
    .textarea{
      font-size: 16px;
      margin-top: 20px;
    }
    .translate{
      margin: 24px 35px 0px 35px;
    }
    .about{
      margin: 0px 19px;
      display: flex;
      flex-direction: column;
      gap:20px;
    }
    #about-img{
      height: 240px;
      width: 240px;
    }
    .email{
      flex-direction: column;
    }
    .submit{
      margin-top: 10px;
    }
    .btn{
      height: 36px;
      width:150px;
      font-size: 12px;
    }
    .dropdown{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media screen and (max-width:960px) and (min-width:450px) {
    .hamburger{
      display:block;
      height: 25px;
    }
    .container{
      margin:100px 20px;
    }
    .headlines{
      font-size: 18px;
    }
    .menu{
      display: none;
    }
    .menuphone{
      display: flex;
      top:58px;
    }
    .navlist{
      flex-direction: column;
      margin:10px;
    }
    .logo{
      font-size: 30px;
    }
    .buttonsdiv{
      display: grid;
      justify-content: center;
      grid-template-rows: repeat(2,1fr);
      grid-template-columns: repeat(2,1fr);
    }
    .translate{
      margin: 14px 50px;
    }
    .about{
      margin: 0px 100px;
      display: flex;
      flex-direction: column;
      gap:0px;
    }
    .textarea{
      margin-top: 32px;
    }
  }
  /*tablets*/
  @media screen and (max-width:1200px) and (min-width:960px){
    .navlist{
      margin:10px;
    }
    .logo{
      font-size: 20px;
    }
    .navlink,.toggle + label{
      font-size: 18px;
    }
    .container{
      margin:70px 80px;
    }
    .translate{
      margin: 0px;
    }
    .about{
      margin: 50px 100px;
    }
    .textarea{
      margin-top: 34px;
    }
   
  }
  @keyframes mobilenav {
    0%{
      top: 40px;
      display: none;
    }
    100%{
      top:58px;
      display: flex;
    }
    
  }



  